
[submodule "example-1"]
	path = example-1
	url = https://github.com/palmerwenzel/new-project-video-demo.git
[submodule "example-2"]
	path = example-2
	url = https://github.com/snarktank/ai-dev-tasks.git
